body {
    background-image: url(plr.png);
    font-family: arial, sans-serif;
    padding: 5px
}

tr ,th, td {
    border: 2px solid black;
    padding: 5px;
}

table {
    min-width: 800px;
    border: 2px solid black;
    background-color: rgba(255, 255, 255, 0.85);
    border-collapse: collapse;
    margin-top: 40px;
    width: 100%;
}

.main {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    background-color: rgba(255, 255, 255, 0.85);
}

.main form {
    margin: 5px; 
}

h1 {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-bottom: 20px;
}


.form-group {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    padding: 2px 5px;
    font-size: 15px;
}

.form-group label {
    width: 150px;
    font-size: 17px;
}


.form-actions {
    text-align: center;
    margin-top: 15px;
}

.form-actions button {
    font-size: 16px;
    border-radius: 10px;
    background-color: #f1dfd2;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.form-actions button:hover {
    background-color: #838485;
    transition: 0.3s;
}







