body {

}

* {
    background-color: azure;
}

table, tr ,th, td {
    border: 2px solid black;
    width: 100%;
    margin-top: 5%;
    padding: 5px;
}

.nim {
    width: 10%;
}

.nama {
    width: 20%;
}

.utama {
    
}